= form_for @dungeon_instance do |f|
  - if @dungeon_instance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dungeon_instance.errors.count, "error")} prohibited this dungeon_instance from being saved:"
      %ul
        - @dungeon_instance.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :difficulty
    = f.select :difficulty, DungeonInstancesController::DIFFICULTY.map{ |e| [ e.to_s.humanize, e ] }, { include_blank: true }

  - 1.upto(6).each do |level|
    .field
      = f.label "hero#{level}_level".to_sym, "hero#{level} level".humanize
      = f.number_field "hero#{level}_level".to_sym, in: 1..20

  .actions
    = f.submit 'Save'
