%p#notice= notice

- @directions.each do |d|
  = link_to d.to_s.humanize, [ @dungeon_instance, { direction: d} ], { method: :patch }

%hr

= image_tag( 'current_room.jpg', class: :current_room )

%hr

= link_to 'Edit', edit_dungeon_instance_path(@dungeon_instance)
\|
= link_to 'Back', dungeon_instances_path
