!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SquareDungeonWalker
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body

    .container
      - if flash.alert
        .alert.alert-danger= flash.alert
      - elsif flash.notice
        .alert.alert-success= flash.notice

    .container
      = render partial: 'layouts/menu'

    .container
      = yield

    %footer.footer
      %div
        Icons made by
        %a{:href => "http://www.freepik.com", :title => "Freepik"} Freepik
        from
        %a{:href => "https://www.flaticon.com/", :title => "Flaticon"} www.flaticon.com
        is licensed by
        %a{:href => "http://creativecommons.org/licenses/by/3.0/", :target => "_blank", :title => "Creative Commons BY 3.0"} CC 3.0 BY
